*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;

    height: 100vh;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}
.row
{
    display: flex;

    width: 500px;

    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.row div
{
    margin: 5px;
    padding: 25px;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.2);

    flex-grow: 1;
}

#result
{
    text-align: right;
}

.row div:not(#result)
{
    cursor: pointer;
}

.tempTwo
{
    position: absolute;

    margin-top: 9px;
    margin-left: -15px;
}

.collumn
{
    display: flex;

    flex-flow: column nowrap;
}

#clean
{
    flex-grow: 0;
}
